/* 선택자(selector) */

*{
 box-sizing : border-box;   
}

body{
    margin : 0;
    padding : 0;
}

#fixed{
    position: fixed;
    top : 50px;
    right : 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border : 1px solid black;
    border-radius: 50px;
}

.blind{/*네이버 메인 페이지 참고*/
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

.center-align{
    margin: 0 auto;
    width: 1130px;
}

#header-search a{
    text-decoration: none;
}

#header-search h1{
    width : 198px; /*가로 범위 확보*/
    height: 48px;  /*세로 범위 확보*/
    display : inline-block;
    /* background-image: url('./sp_search.png'); */
    /* background-position: -5px -10px; */
    /* background-repeat: no-repeat; */
    background: url(./sp_search.png) -4px -4px no-repeat;
    text-indent: 100%;
    overflow: hidden;
    vertical-align: middle;
    position : relative;
    top : -6px;
    right : -2px;
    /* 
    chrome 기본 (display : block) 으로 설정
    가로 전체 margin을 사라지도록 하겠다.
    (입력된 부분만 margin(구역)을 설정하고 있다.
    */
}

#header-search > h1 span{
    display: none;
}

#header-search h2{
    display : none;
}

#header-search fieldset{
    margin-left : 20px;
    padding     : 12px  0   12px     10px;
                 /* top right bottom left  */
    border      : 2px solid #03cf5d; /*hex 표기법*/
    width       : 520px;
    height      : 49px;
    display     : inline-block;
   vertical-align: middle;
    position: relative;
}

#header-search fieldset input{
    border  :   none;
    padding :   0;
    outline : none;
    vertical-align : top;
    width: 405px;
    height : 23px;
    display : inline-block;
}

#header-search fieldset button{
    width : 49px;
    height : 49px;
    border : none;
    padding : 0;
    background :#03cf5d;
    position : absolute;
    right : -2px;
    top : -2px;
}

#search-image{
    background-image : url(./sp_search.png);
    background-position : -4px -60px;
    background-repeat: no-repeat;
    width : 21px;
    height : 21px;
    display : inline-block;
}

/* 검색창 깜박거림 현상 제거 */
#header-search > fieldset > input{
    outline : none;
}

nav ul{
    margin : 0;
    padding : 0;
    list-style : none;
}

nav li{
    display : inline-block;
}

nav li span:first-child {
    height: 16px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
    background-repeat: no-repeat;
    margin-left: 14px;
}

nav li:first-child span.nav-item-mail {
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}

nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -70px -285px;
}

